.cursor-pointer{
  cursor: pointer;
}

.function-name-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.3rem;
  margin-bottom: 0rem;
  line-height: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.job-item-title-area {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.job-item-footer-area {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.function-name-count {
  font-size: 90%;
  font-weight: 400;
  color: darkslategray;
}

.function-name-string {
  max-width: 90%;
  overflow-wrap: break-word;
}

.card-body {
  flex: 1 1 60%;
  padding: 0.75rem;
  margin: 0.5rem;
  background-color: #fffcb3;
  box-shadow: 0.1rem 0.1rem 0.1rem gray;
}

footer {
  text-align: right;
  font-size: 75%;
  font-weight: 500;
}

#job-item-datetime {
  color: #111;
}

hr {
  margin: 0.2rem;
}

ul {
  margin-bottom: 0;
}

.filter-container {
  /* border: 0.3rem outset lightgray; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.item_count_badge {
  text-align: center;
  font-size: 75%;
  font-weight: 400;
  color: darkslategray;
}

#title {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#reload-button {
  background-color: #ffc107
}
